<link rel="stylesheet" href="button.css">

<h2>Button Large Widget</h1>
<!-- === BOTÕES LARGE === -->
<div class="container p-4">
  <!-- Enabled -->
  <button type="button" class="btn-large">Button Large Enabled</button>

  <!-- Hover -->
  <button type="button" class="btn-large">Button Large Hover</button>

  <!-- Focus -->
  <button type="button" class="btn-large" autofocus>Button Large Focus</button>

  <!-- Active -->
  <button type="button" class="btn-large active">Button Large Active</button>

  <!-- Disabled -->
  <button type="button" class="btn-large" disabled>Button Large Disabled</button>

  <!-- Valid -->
  <button type="button" class="btn-large is-valid">Button Large Valid</button>

  <!-- Invalid -->
  <button type="button" class="btn-large is-invalid">Button Large Invalid</button>

  <!-- Required -->
  <button type="button" class="btn-large is-required">Button Large Required</button>
</div>

<h2>Button Medium Widget</h2>

  <!-- BOTÕES MEDIUM -->
<div class="container p-4">
  <!-- Enabled -->
  <button type="button" class="btn-medium">Button Medium Enabled</button>

  <!-- Hover -->
  <button type="button" class="btn-medium">Button Medium Hover</button>

  <!-- Focus -->
  <button type="button" class="btn-medium" autofocus>Button Medium Focus</button>

  <!-- Active -->
  <button type="button" class="btn-medium active">Button Medium Active</button>

  <!-- Disabled -->
  <button type="button" class="btn-medium" disabled>Button Medium Disabled</button>

  <!-- Valid -->
  <button type="button" class="btn-medium is-valid">Button Medium Valid</button>

  <!-- Invalid -->
  <button type="button" class="btn-medium is-invalid">Button Medium Invalid</button>

  <!-- Required -->
  <button type="button" class="btn-medium is-required">Button Medium Required</button>
</div>

<h2>Button Small Widget</h2>

<!-- === BOTÕES SMALL === -->
<div class="container p-4">
  <!-- Enabled -->
  <button type="button" class="btn-small">Button Small Enabled</button>

  <!-- Hover -->
  <button type="button" class="btn-small">Button Small Hover</button>

  <!-- Focus -->
  <button type="button" class="btn-small" autofocus>Button Small Focus</button>

  <!-- Active -->
  <button type="button" class="btn-small active">Button Small Active</button>

  <!-- Disabled -->
  <button type="button" class="btn-small" disabled>Button Small Disabled</button>

  <!-- Valid -->
  <button type="button" class="btn-small is-valid">Button Small Valid</button>

  <!-- Invalid -->
  <button type="button" class="btn-small is-invalid">Button Small Invalid</button>

  <!-- Required -->
  <button type="button" class="btn-small is-required">Button Small Required</button>
</div>






