<link rel="stylesheet" href="button.css">

<h1>Button Large Active Widget</h1>
<!-- === BOTÕES LARGE === -->
<div class="container p-4">
  <!-- Enabled -->
  <button type="button" class="btn-large">Button Large Enabled</button>

  <!-- Hover -->
  <button type="button" class="btn-large">Button Large Hover</button>

  <!-- Focus -->
  <button type="button" class="btn-large" autofocus>Button Large Focus</button>

  <!-- Active -->
  <button type="button" class="btn-large active">Button Large Active</button>

  <!-- Disabled -->
  <button type="button" class="btn-large" disabled>Button Large Disabled</button>

  <!-- Valid -->
  <button type="button" class="btn-large is-valid">Button Large Valid</button>

  <!-- Invalid -->
  <button type="button" class="btn-large is-invalid">Button Large Invalid</button>

  <!-- Required -->
  <button type="button" class="btn-large is-required">Button Large Required</button>
</div>
